
.media-seek-bar-profile > input[type='range'] {
  overflow: hidden;
  width: 150px;
  -webkit-appearance: none;
  background-color: #393939;
  outline: 0px;
}

.media-seek-bar-profile > input[type='range']::-webkit-slider-thumb {
  width: 5px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #E4E4E4;
  box-shadow: -150px 0 0 150px #FE064C;
}
